/* .card {
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}



table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
} */